# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

*.tfvars
*.tfvars.json

*.exe
*.exe.*

*.tfplan

# Override files (used for local changes, not shared)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI configuration files
# Ignore tfplan files (contain sensitive data)
.terraformrc
terraform.rc

# Lock file (decide if you want to keep it)
# Keep this file if you want reproducible provider versions in a team
# Comment it out if you don’t want it in Git
#.terraform.lock.hcl

.terraform.tfstate.lock.info